<% if flash.now[:errors].present? %>
  $("#form-ask .errors").html("<%= j(render partial: 'partials/errors', locals: { errors: flash.now[:errors] }) %>")
<%else%>
  $("#form-ask").find('.modal-body').html("<p>Спасибо за Ваш вопрос.<br>Наши менеджеры свяжутся с Вами в течение получаса.</p>");
<%end%>
