/* стили страниц наших работ с простым содержимым */
.our-works-main{
	
	&__title{
		font-size: 48px;
		line-height: 0.9;
		margin-top: 30px;
		margin-left: 25px;
		margin-bottom: 20px;
		font-family: PrCondExLight, Arial, Helvetica, sans-serif;
	}
	&__main-img{
		max-width: 100%;
		width: 100%;
		height: auto;

		&_block{
			padding: 20px;
			border: 2px solid $bg-grey;
			background: rgba(0,0,0,0.7);
			margin-bottom: 20px;
		}
	}
	&__content-block{
		width: 80%;
		margin: 10px auto 55px auto;
		color: #000;
		padding: 20px;
		border: 1px solid $bg-grey;
		font-size: 16px;
		background-color: rgba(255,255,255,0.9);
		color: #000;

		& p{
			font-size: 16px;
			color: #000;
			margin-bottom: 0;
			text-indent: 1em;
		}
	}
	&__img-block{

	}
	&__img{
		display: block;
		border: 10px solid #464545;
		width: 90%;
		height: auto;
		margin: 20px auto;

	}

}
/*блок других проектов */
.our-works-main-projects{
	margin-bottom: 20px;

	&__title{
		position: relative;
		font-family: PrCondExLight, Arial, Helvetica, sans-serif;
		display: inline-block;
		font-size: 36px;
		padding-bottom: 37px;
		padding-left: 50px;
		padding-right: 50px;
		margin-bottom: 20px;

		&:after{
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			height: 35px;
			width: 100%;
			content: '';
			background-image: asset-url("title-bottom-decoration.png");
			background-position: center center;
			background-size: 100% auto;
			background-repeat: no-repeat;
		}
	}
	&__title-block{
		text-align: center;
	}
	&__item{
		display: block;
		border: 1px solid #fff;
		overflow: hidden;
		padding: 10px;
		margin-bottom: 15px;
		background: rgba(0,0,0,0.7);
		&:hover{
			border: 1px solid $red-text;
		}

		&_img{
			height: 135px;
			width: 100%;

		}
	}
	&__anchor-block{
		margin-top: 40px;
		margin-bottom: 20px;

		& a{
			color: #fff;
			font-size: 18px;
			text-decoration: underline;
			&:hover{
				color: $text-active;
			}
		}
	}
}


/*xs */
@media all and (max-width: 767px){
	.our-works-main__content-block{
		width: 100%;
	}
}
/*sm */
@media all and (min-width: 768px) and (max-width: 991px){
	.our-works-main__content-block{
		width: 100%;
	}
}
/*md */
@media all and (min-width: 992px) and (max-width: 1199px){

}
/*lg */
@media all and (min-width: 1200px){

}