<footer class="footer">
	<div class="container">
		<div class="row footer__top-row">

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
				<ul class="list-unstyled footer__menu">
				  <li class="footer-menu__item"><%=link_to 'Каталог', products_path %></li>
				  <li class="footer-menu__item"><%=link_to 'Сертификаты', certificates_path%></li>
				  <% page = Page.find_by(slug: 'dostavka') %>
				  <li class="footer-menu__item"><%=link_to 'Доставка и оплата', page_path(page) if page%></li>
				  <li class="footer-menu__item"><%=link_to 'Контакты', contacts_path%></li>
				</ul>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
				<div class="footer__info">
					<div>ИП Булавко А.В. УНП 691452740 от 27.04.2012 г.</div>
					<div>Расчетный счет: 3013027081006 в ЗАО «БСБ БАНК»</div>
					<div>код 175 г. Минск пр. Победителей, 23 корп. 4, 220004</div>
					<div>В торговом реестре от 06.02.17</div>
					<div>регистрационный номер 366894</div>
				</div>
			</div>

			<div class="clearfix visible-sm-block"></div>

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center footer__button_column">
				<div class="footer__button_outer">
					<button class="btn footer__button_ask btn__grey-bg btn__grey-bg_normal" data-toggle="modal" data-target="#form-ask">Задать вопрос</button>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
				<div class="footer-social__wrapper">
					<div class="col-xs-6">
						<a href="https://www.instagram.com/magmaster.by/" title="instagramm"><div class="footer__social-icon footer__social-icon_1 footer-icon__instagramm"></div></a>
					</div>
					<div class="col-xs-6">
						<a href="https://vk.com/club138250290" title="vkontakte"><div class="footer__social-icon footer__social-icon_2 footer-icon__vk"></div></a>
					</div>
					<div class="col-xs-4">
						<a href="https://www.youtube.com/channel/UCWYAHavocr1m4qc1ysc8JkA" title="youtube"><div class="footer__social-icon footer-icon__youtube"></div></a>
					</div>
					<div class="col-xs-4">
						<a href="https://www.facebook.com/Magmasterby-825059274300922/" title="facebook"><div class="footer__social-icon footer-icon__facebook"></div></a>
					</div>
					<div class="col-xs-4">
						<a href="https://plus.google.com/u/0/100901737707407669742" title="google+"><div class="footer__social-icon footer-icon__googleplus"></div></a>
					</div>
				</div>
			</div>

		</div><!-- /.top-row -->

		<div class="row footer__bottom-row">
			<div class="col-xs-12">
				<span class="footer__copyright">2017 &copy; MAGMASTER.BY</span>
				<span class="footer__autor">Designed by <a href="http://artikos.by/" rel="nofollow" class="footer__autor_a">Artikos Media</a></span>
			</div>
		</div>

	</div><!-- /.container -->
</footer>
