<div class="overlay"></div><!-- блок нужный для затемнения фонового изображения -->

<div class="container about">
  <div class="row"><!-- description -->
    <div class="col-xs-12 col-sm-5 col-md-3">
    	<div class="about__logo-block">
			<a href="/" class="logo" title="На главную">
				<div class="logo__title">MAGMASTER.BY</div>
				<div class="logo__description">лучшая грифельная краска и услуги по нанесению</div>
			</a>
		</div>
    </div>
    <div class="col-md-6">
    	<h1 class="about__title">О компании</h1>
    	<div class="about__text">
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore ab unde excepturi illo laudantium aspernatur magni sed temporibus blanditiis alias. Distinctio minus mollitia consequuntur harum saepe ipsam velit reprehenderit eligendi?</p>
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum explicabo deleniti dolorem. Quod est aliquid provident reiciendis modi! Libero quis ullam excepturi et, debitis quibusdam. Illum eos laudantium voluptatum porro.</p>
    	</div>
    </div>
   </div><!-- /.row -->
</div><!-- /.container -->

<!-- блок слайдер с производителями (как на главной снизу) -->
<section class="brands about__brands">
	<div class="brands__title-block">
		<h2 class="brands__title">Производители</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">

				<div class="owl-carousel brands__carousel">

					<div class="brands__item brands__item_1"></div>
					<div class="brands__item brands__item_2"></div>
					<div class="brands__item brands__item_3"></div>
					<div class="brands__item brands__item_4"></div>
					<div class="brands__item brands__item_5"></div>
					<div class="brands__item brands__item_6"></div>
					<div class="brands__item brands__item_3"></div>
					<div class="brands__item brands__item_4"></div>
					<div class="brands__item brands__item_5"></div>
					<div class="brands__item brands__item_6"></div>

				</div><!-- /.brands carousel -->

			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
	<div class="brands__dots-block text-center">
		<div class="brands__dots"></div>
	</div>
</section><!-- /.brands -->


<!-- блок описания преимуществ, на каждом .about-item разный фон -->
<section class="about__items">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="about-item about-item_1">
					<h2 class="about-item__title">Низкие цены</h2>
					<div class="about-item__text">Мы принципиально держим низкие цены на нашу продукцию. Нам важно сделать качественные материалы максимально доступными нашим клиентам</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="about-item about-item_2">
					<h2 class="about-item__title">Проверенное качество</h2>
					<div class="about-item__text">Все представленные материалы мы тестируем самостоятельно. Кроме того мы предлагаем наши услуги по нанесению и шеф-монтаж в Минске.</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="about-item about-item_3">
					<h2 class="about-item__title">Удобная доставка</h2>
					<div class="about-item__text">Мы доставляем заказы курьером "до двери" и в пункты выдачи в сотни городов Беларуси, а также в Казахстан и Россию.</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="about-item about-item_4">
					<h2 class="about-item__title">Помощь в нанесении</h2>
					<div class="about-item__text">Профессиональная консультация по нанесению и эксплуатации по телефону +375-22-445-44-66 или по почте sales@magmaster.by. Для наших клиентов в Москве Московской области мы предлагаем дополнительную услугу по монтажу покрытий профессиональными малярами.</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="about-item about-item_5">
					<h2 class="about-item__title">Реальные проекты</h2>
					<div class="about-item__text">В нашем блоке мы рассказываем о реальных объектах, в которых используются наши материалы. А наши заказчики рассказывают о своих впечатлениях.</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="about-item about-item_6">
					<h2 class="about-item__title">Эксклюзивные товары</h2>
					<div class="about-item__text">Большинство представленных у нас материалов можно приобрести только у нас и при этом с самыми выгодными условиями доставки</div>
				</div>
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.about__items -->