<div class="overlay"></div><!-- блок нужный для затемнения фонового изображения -->

<div class="container certificates">
	<div class="row">

		<div class="col-xs-12 col-sm-4 col-md-3 left-menu__overlay">

		 <%= render "partials/left-menu" %>

		</div><!-- /.left col -->

		<div class="col-xs-12 col-sm-8 col-md-9 certificates__row">
			<h1 class="certificates__title">Сертификаты</h1>
			<%@certificates.each do |certificate|%>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="<%= certificate.image.url %>" class="certificates__img-block">
					<img src="<%= certificate.image.url %>" alt="" class="certificates__img">
					<div class="certificates__overlay">
						<img src="<%= asset_path('certificates/lupa.png') %>" alt="" class="certificates__overlay_img">
					</div>
				</a>
			</div>
			<%end%>
		</div>
	</div><!-- /.row -->
</div><!-- /.container -->
