<!-- типичная статичная страница -->
<div class="static-page__overlay"></div>

<div class="container static-page__container static-page">
	<div class="row">

		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">

		  <%= render "partials/left-menu" %>

		</div><!-- /.left col -->

		<div class="col-xs-6 col-sm-8 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1"><!-- внутри этого блока лежит контент страницы -->
			<h2>Доставка</h2>
			<div class="static-page__content-block">
				<h3>По минску</h3>
				<p>Наша компания специализируется на работе с уникальными функциональными покрытиями. Мы предлагаем краски, которые расширяют границы творчества, обучения, работы и досуга. Это совершенно новые материалы, предоставляющие возможность рисовать на стенах и мебели, крепить к ним магниты, придать им вид каменной поверхности или другие необычные и очень полезные эффекты.</p>
				<h3>По беларуси</h3>
				<p>Мы работаем как с зарубежными производителями, так и с российскими, выбирая лучший по качеству товар и добиваясь доступных для потребителя цен. Все покрытия, представленные в нашем магазине мы тестируем самостоятельно. Все наши менеджеры имеют непосредственный опыт нанесения и эксплуатации представленных красок и других аналогов на рынке и готовы подробно рассказать обо всех тонкостях использования этих красок.</p>
			</div>

			<h2>Оплата</h2>
			<div class="static-page__content-block">
				<h3>По минску</h3>
				<p>Наша компания специализируется на работе с уникальными функциональными покрытиями. Мы предлагаем краски, которые расширяют границы творчества, обучения, работы и досуга. Это совершенно новые материалы, предоставляющие возможность рисовать на стенах и мебели, крепить к ним магниты, придать им вид каменной поверхности или другие необычные и очень полезные эффекты.</p>
				<h3>По беларуси</h3>
				<p>Мы работаем как с зарубежными производителями, так и с российскими, выбирая лучший по качеству товар и добиваясь доступных для потребителя цен. Все покрытия, представленные в нашем магазине мы тестируем самостоятельно. Все наши менеджеры имеют непосредственный опыт нанесения и эксплуатации представленных красок и других аналогов на рынке и готовы подробно рассказать обо всех тонкостях использования этих красок.</p>
			</div>


		</div><!-- /.right col -->
	</div><!-- /.row -->
</div><!-- /.container -->