<% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.email %></span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% end %>
<h1>Init index page</h1>
<p>Find me in app/views/home/index.html.erb</p>
