
<div class="overlay"></div>

<div class="container">
	<div class="row">

		<div class="col-xs-6 col-sm-4 col-md-3 left-menu__overlay">

		 <%= render "partials/left-menu" %>

		</div><!-- /.left col -->

		<div class="col-xs-6 col-sm-8 col-md-9">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 ">

					<h1 class="catalog__title">Грифельные краски</h1>
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="catalog__descroption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</div>
						</div>
					</div>

					<div class="row">

						<div class="col-xs-12 col-sm-6 col-md-4">
							<a href="#" class="vertical-card__a">
							    <div class="thumbnail vertical-card catalog__card">
							      <div class="vertical-card__img_wrap">
							      	<img src="<℅= asset_path('product/pot-wide1.jpg') %>" class="vertical-card__img" alt="ptoduct title">
									<div class="card__type card__type_chalk">
										
									</div>
							      	</div>
							      <div class="caption">
									<div class="vertical-card__description">
										Грифельная краска с эффектом школьной доски Siberia колеруемая
									</div>
									<div class="vertical-card__price">115 руб</div>
							      </div>
							    </div>
							</a>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<a href="#" class="vertical-card__a">
							    <div class="thumbnail vertical-card catalog__card">
							      <div class="vertical-card__img_wrap">
							      	<img src="<℅= asset_path('product/pot-wide1.jpg') %>" class="vertical-card__img" alt="ptoduct title">
									<div class="card__type card__type_magnet">
										
									</div>
							      	</div>
							      <div class="caption">
									<div class="vertical-card__description">
										Грифельная краска с эффектом школьной доски Siberia колеруемая
									</div>
									<div class="vertical-card__price">115 руб</div>
							      </div>
							    </div>
							</a>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<a href="#" class="vertical-card__a">
							    <div class="thumbnail vertical-card catalog__card">
							      <div class="vertical-card__img_wrap">
							      	<img src="<℅= asset_path('product/pot-wide1.jpg') %>" class="vertical-card__img" alt="ptoduct title">
									<div class="card__type card__type_marker">
										
									</div>
							      	</div>
							      <div class="caption">
									<div class="vertical-card__description">
										Грифельная краска с эффектом школьной доски Siberia колеруемая
									</div>
									<div class="vertical-card__price">115 руб</div>
							      </div>
							    </div>
							</a>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<a href="#" class="vertical-card__a">
							    <div class="thumbnail vertical-card catalog__card">
							      <div class="vertical-card__img_wrap">
							      	<img src="<℅= asset_path('product/pot-wide1.jpg') %>" class="vertical-card__img" alt="ptoduct title">
									<div class="card__type card__type_chalk">
										
									</div>
							      	</div>
							      <div class="caption">
									<div class="vertical-card__description">
										Грифельная краска с эффектом школьной доски Siberia колеруемая
									</div>
									<div class="vertical-card__price">115 руб</div>
							      </div>
							    </div>
							</a>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<a href="#" class="vertical-card__a">
							    <div class="thumbnail vertical-card catalog__card">
							      <div class="vertical-card__img_wrap">
							      	<img src="<℅= asset_path('product/pot-wide1.jpg') %>" class="vertical-card__img" alt="ptoduct title">
									<div class="card__type card__type_chalk">
										
									</div>
							      	</div>
							      <div class="caption">
									<div class="vertical-card__description">
										Грифельная краска с эффектом школьной доски Siberia колеруемая
									</div>
									<div class="vertical-card__price">115 руб</div>
							      </div>
							    </div>
							</a>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<a href="#" class="vertical-card__a">
							    <div class="thumbnail vertical-card catalog__card">
							      <div class="vertical-card__img_wrap">
							      	<img src="<℅= asset_path('product/pot-wide1.jpg') %>" class="vertical-card__img" alt="ptoduct title">
									<div class="card__type card__type_chalk">
										
									</div>
							      	</div>
							      <div class="caption">
									<div class="vertical-card__description">
										Грифельная краска с эффектом школьной доски Siberia колеруемая
									</div>
									<div class="vertical-card__price">115 руб</div>
							      </div>
							    </div>
							</a>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<a href="#" class="vertical-card__a">
							    <div class="thumbnail vertical-card catalog__card">
							      <div class="vertical-card__img_wrap">
							      	<img src="<℅= asset_path('product/pot-wide1.jpg') %>" class="vertical-card__img" alt="ptoduct title">
									<div class="card__type card__type_chalk">
										
									</div>
							      	</div>
							      <div class="caption">
									<div class="vertical-card__description">
										Грифельная краска с эффектом школьной доски Siberia колеруемая
									</div>
									<div class="vertical-card__price">115 руб</div>
							      </div>
							    </div>
							</a>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<a href="#" class="vertical-card__a">
							    <div class="thumbnail vertical-card catalog__card">
							      <div class="vertical-card__img_wrap">
							      	<img src="<℅= asset_path('product/pot-wide1.jpg') %>" class="vertical-card__img" alt="ptoduct title">
									<div class="card__type card__type_chalk">
										
									</div>
							      	</div>
							      <div class="caption">
									<div class="vertical-card__description">
										Грифельная краска с эффектом школьной доски Siberia колеруемая
									</div>
									<div class="vertical-card__price">115 руб</div>
							      </div>
							    </div>
							</a>
						</div>

					</div><!-- /.product cards row -->

				</div><!-- /.right col inner row -->
			</div>



		</div><!-- /.right col -->

	</div><!-- /.row -->
</div><!-- /.container -->


</div>
