$grey-text: #cdcdcd;
$red-text: #a11d1d;
$dark-grey: #5f5e5d;
$text-active: #e02525;
$bg-grey: #e9e9e9;

/* старый вариант шрифтов, не буллетпруф  */
/*
@font-face {
    font-family: PrCondReg;
    src: asset-url("ProximaNovaCond-Reg.otf");
}
@font-face {
    font-family: PrCondBlack;
    src: asset-url("ProximaNovaCond-Black.otf");
}
@font-face {
    font-family: PrCondExLight;
    src: asset-url("ProximaNovaExCn-Light.otf");
}
@font-face {
    font-family: PrCondExThin;
    src: asset-url("ProximaNovaExCn-Thin.otf");
}
*/
@font-face {
	font-family: 'PrCondReg';
	src: font-url('ProximaNovaCond-Regular.eot');
	src:font-url('ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
		font-url('ProximaNovaCond-Regular.woff2') format('woff2'),
		font-url('ProximaNovaCond-Regular.woff') format('woff'),
		font-url('ProximaNovaCond-Regular.ttf') format('truetype'),
		font-url('ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
}
@font-face {
	font-family: 'PrCondBlack';
	src: font-url('ProximaNovaCond-Black.eot');
	src:font-url('ProximaNovaCond-Black.eot?#iefix') format('embedded-opentype'),
		font-url('ProximaNovaCond-Black.woff2') format('woff2'),
		font-url('ProximaNovaCond-Black.woff') format('woff'),
		font-url('ProximaNovaCond-Black.ttf') format('truetype'),
		font-url('ProximaNovaCond-Black.svg#ProximaNovaCond-Black') format('svg');
}
@font-face {
	font-family: 'PrCondExLight';
	src: font-url('ProximaNovaExCn-Light.eot');
	src:font-url('ProximaNovaExCn-Light.eot?#iefix') format('embedded-opentype'),
		font-url('ProximaNovaExCn-Light.woff2') format('woff2'),
		font-url('ProximaNovaExCn-Light.woff') format('woff'),
		font-url('ProximaNovaExCn-Light.ttf') format('truetype'),
		font-url('ProximaNovaExCn-Light.svg#ProximaNovaExCn-Light') format('svg');
}
@font-face {
	font-family: 'PrCondExThin';
	src: font-url('ProximaNovaExCn-Thin.eot');
	src:font-url('ProximaNovaExCn-Thin.eot?#iefix') format('embedded-opentype'),
		font-url('ProximaNovaExCn-Thin.woff2') format('woff2'),
		font-url('ProximaNovaExCn-Thin.woff') format('woff'),
		font-url('ProximaNovaExCn-Thin.ttf') format('truetype'),
		font-url('ProximaNovaExCn-Thin.svg#ProximaNovaExCn-Thin') format('svg');
}
body, html{
	height: 100%;
	min-height: 100%;
}

body{
	font-family: PrCondReg, Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}
a:hover,
a:focus,
a:active{
	text-decoration: none;
	color:#fff;
}
/* нужен для эффекта размытия заднего плана */
.blur-page{

}
/* вешается скриптом для размытия при открытие оффканвас */
.blur-on{
	filter: blur(5px);
}
/* кнопка с завитушками */
.btn__grey-bg{
	font-family: PrCondExLight, Arial, Helvetica, sans-serif;
	background-image: asset-url("grey-button-bg.png");
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 17px 30px;
	font-size: 36px;
	color:#fff;


	&:hover{
		color: $red-text;
	}
	&:active,
	&:focus,
	&:active:focus{
		outline: none;
		box-shadow: none;
	}
	&.btn__grey-bg_normal{
		color:#fff !important;
		&:hover,
		&:focus,
		&:active{
			color: $red-text !important;
			text-decoration: none;
			background-image: asset-url("grey-button-bg.png") !important;
		}
	}
}
/*  логотип-ссылка*/
.logo{
	display: block;
	padding: 5px;
	color:#fff;
	line-height: 1;
	border: 1px solid #fff;
	display: inline-block;
	text-align: center;
	margin: 0 auto;

	&__wrapper{
		text-align: center;
		margin-top: 25px;
	}
	&__title{
		font-size: 40px;
		font-family: PrCondExThin, Arial, Helvetica, sans-serif;
	}
	&__description{
		font-size: 9px;
	}
}
/*затемнитель фона */
.overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.55);
	&.overlay__product{
		z-index: 2;
		background: rgba(0,0,0,0.35);
	}
}
/* хелперы для бг слайдера на главной*/
.reset-margins{
	margin: 0 auto;
}
.reset-paddings{
	padding: 0;
}
.content-block{
	position: relative;
	z-index: 10;
}

/* блок пагинации внизу */
.custom-pagination{
	display: inline-block;
	padding-left: 0;
	margin-bottom: 0;

	& li{
		list-style-type: none;
		display: inline-block;
		margin-right: 9px;
		border: 2px solid #fff;
		text-align: center;
		&:last-child{
			margin-right: 0;
		}
		&.active{
			background: #fff;
			& a{
				color:#000;
			}
		}

		& a{
			display: block;
			padding: 5px 0;
			width: 30px;
			color:#fff;
			font-size: 16px;

			&:hover{
				background: #fff;
				color:#000;
			}
		}
	}
}

/* блок "остались вопросы?" */
.have-questions{
	margin-top: 60px;
	margin-bottom: 90px;

	&__title{
		font-family: PrCondExThin, Arial, Helvetica, sans-serif;
		font-size: 48px;
		margin-top: 30px;
		margin-bottom: 25px;
	}
	&__text{
		font-size: 23px;
		margin-top: 7px;
	}
	&__tel-block{
				
	}
	&__tel{
		font-size: 35px;
		font-family: PrCondExThin, Arial, Helvetica, sans-serif;
	}
	&__tel_desc{
		font-size: 25px;
		line-height: 1;
		color: $text-active;
	}
}
.btn__ask-question{
	padding: 14px 30px;
}
/* lightgallery plugin */
.lg-icon{
	font-family: 'Glyphicons Halflings';
}
.lg-actions{
	.lg-prev:after{
		content: "\e091";	
	}	
	.lg-next:before{
		content: "\e092";	
	}	
}
.lg-toolbar{
	.lg-close:after{
		content: "\e014";	
	}
}




/*xs */
@media all and (max-width: 767px){
	.have-questions{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.have-questions__title{
		margin-bottom: 15px;
	}
	.have-questions__text{
		text-align: center;
	}
	.have-questions__text,
	.have-questions__tel-block,
	.btn__ask-question{
		margin-bottom: 20px;
	}
}
/*sm */
@media all and (min-width: 768px) and (max-width: 991px){
	.have-questions__text,
	.have-questions__tel-block,
	.btn__ask-question{
		margin-bottom: 20px;
	}
}