@charset 'utf-8';

/* vendors */
@import 'bootstrap';
@import 'owl/owl.carousel';
@import 'jquery.sidr.dark';
@import 'lightgallery';


//тут собираются импорты компонентов этого проекта
@import 'components/general';
@import 'components/sprites';
@import 'components/card';
@import 'components/menu';
@import 'components/offcanvas';
@import 'components/left-menu';
@import 'components/forms';

@import 'pages/home';
@import 'pages/catalog';
@import 'pages/product';
@import 'pages/our-works-list';
@import 'pages/our-works-main';
@import 'pages/about';
@import 'pages/contacts';
@import 'pages/сertificates';
@import 'pages/constructor';
@import 'pages/static-page';

@import 'components/footer';


.content-bg{
	position: relative;
	z-index: 10;
}
body{
	background: asset-url("back-slider/bg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-color: #000;
	padding-top: 53px;
	color:#fff;
}
.back-slider-page{
	background: #000;
}
.constructor-page-bg{
	background: #000;
}


/*lg */
@media all and (min-width: 768px) and (max-width: 885px){
	body{
		padding-top: 150px;
	}

}
@media all and (min-width: 886px) and (max-width: 1300px){
	body{
		padding-top: 100px;
	}

}


/*xs */
@media all and (max-width: 767px){

}
/*sm */
@media all and (min-width: 768px) and (max-width: 991px){

}
/*md */
@media all and (min-width: 992px) and (max-width: 1199px){

}
/*lg */
@media all and (min-width: 1200px){

}

